/*Better sessions*/
[class*="session_"]{
	--icon-size: 1rem;
	background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    margin-right: 16px;
    gap: 12px;
    width: 350px;
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: stretch;
}

[class*="sessions_"] > div > [class*="children_"]{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    width: 120%;
}

[class*="sessionIcon_"] {
	position: absolute;
    color: var(--interactive-normal);
    background: transparent;

	height: var(--icon-size);
	width: var(--icon-size);
	padding: 0px;

	top:12px;
}

/*Location icon*/
[class*="sessionInfo_"] > :last-child > span:nth-child(1){
	display: flex;
	gap: 4px;
}

[class*="sessionInfo_"] > :last-child > span:nth-child(1)::before{
	content:"";
	height: var(--icon-size);
	width: var(--icon-size);
	/*padding-left:var(--icon-size);*/
	background-color: var(--interactive-normal);
	-webkit-mask-image: url(https://martinz64.github.io/remove-nitro/icons/location.svg);
	mask-image: url(https://martinz64.github.io/remove-nitro/icons/location.svg);
}

/*Time icon*/
[class*="sessionInfo_"] > :last-child > span:last-child:not(:only-child){
	display: flex;
	gap: 4px;
}

[class*="sessionInfo_"] > :last-child > span:last-child:not(:only-child)::before{
	content:"";
	height: var(--icon-size);
	width: var(--icon-size);
	/*padding-left:var(--icon-size);*/
	background-color: var(--interactive-normal);
	-webkit-mask-image: url(https://martinz64.github.io/remove-nitro/icons/clock.svg);
	mask-image: url(https://martinz64.github.io/remove-nitro/icons/clock.svg);
}

/*Hide middle dot*/
[class*="sessionInfo_"] > :last-child > span:not(:last-child):not(:first-child){
	display: none;
}

[class*="sessionInfo_"] > :last-child{
	display: flex;
	flex-direction: column;
}



[class*="sessionInfo_"] > div:nth-child(1)::before{
	content:"";
	padding-left:1rem;
}

[class*="sessionIcon_"] > svg{
	height:  var(--icon-size);
}

/*Fix cross icon being too big*/
[class*="session_"] [class*="sessionMoreButton_"] {
    width: 18px;
    height: 18px;
    overflow: hidden;
    transform: translateX(4px);
}

[class*="session_"] [class*="sessionMoreButton_"] svg {
    width: 18px;
    height: 18px;
    overflow: hidden;
}
