/*
Nitro upsell remover
Based on a snippet i found on the vencord server
*/

[class^="channel_"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons_"] > button, /* Gift Button */
[class^="upsellVisible_"], /* Banner Nitro Upsell Header in the user modal */
[class^="premiumIconWrapper"], /* Nitro Icon in top right on Banners */
[class^="characterCount_"] [class*="upsell_"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection_"] [class*="shinyButton_"], /* "Get Nitro" button in Emoji/Sticker modal" */
[class*="tryItOutSection_"], /*try nitro banner section on profile editor*/
[class^="customizationSection_"] + [class^="upsellContainer_"], /* Per server profile customizations*/
[class^="customizationSection_"][class*="disabled_"], /* Per server profile customizations*/
[class*="bannerNitroUpsell_"], /* "Unlock Banner" in profile editor*/
[class^="imageUploaderHint_"], /* Remove gif option from profile pic upload option*/
[class^="imagePickerContainer_"] > [class^="optionBox_"]:nth-child(2), /* Remove gif option from profile pic upload option*/
[class*=premiumFeatureBannerBackground-], /* remove the avatar decorations banner in the profile tab */
[class*=popoutContainer-] > [class*=container]:has([class*=collectiblesList]), /*remove avatar decorations upsell when opening profile*/
[class*=tryingOutAvatarDecoration]
{
    display: none !important;
}

/*Extra stuff i added*/
/*Settings*/
[class^="premiumTab_"], /*remove nitro tab*/
[class^="premiumTab_"] + [class^="item_"], /*Server boost tab*/
[class^="premiumTab_"] + [class^="item_"] + [class^="item_"] /*server boost tab*/
{
	display: none !important;
}

/*Settings context menu*/
#user-settings-cog-Discord_Nitro,
#user-settings-cog-Nitro_Server_Boost,
#user-settings-cog-Subscriptions
{
	display: none !important;
}


/*credit to CodeF53 for this part*/
/*Remove snowsgiving banner*/
[class^=userPopoutInner] > [class^=wrapper] > [class^=banner] {
	display: none;
}


/* Avatar decoration nitro promo in profiles */
[class^=limitedFeatureBorder] {
	display: none;
}

/* Custom app icon preview sidebar and appearance section */
.editor-1m9XtV, .selectionGroup-1uE1O_ {
	display: none;
}

/* Nitro app color appearance section */
.premiumFeatureBorder-1i95si, .background-yH6t2p {
	display: none;
}
