/*Change "nitro required" message to "Emoji plugin is needed to send custom emoji" when trying to send custom emoji*/
#emoji-picker-tab-panel >[class*="emojiPicker_"]> [class^="premiumPromo_"]::after{
	content: "Emoji plugin is needed to send custom emoji";
	font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--header-secondary);
}

#emoji-picker-tab-panel >[class*="emojiPicker_"]> [class^="premiumPromo_"] > [class^="premiumPromoDescription"],
#emoji-picker-tab-panel >[class*="emojiPicker_"]> [class^="premiumPromo_"] > [class^="shinyButton"]{
	display:none !important;
}
